In [64]:
# Assignment Submitted by: Akash K Chavan

In [6]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [7]:
movies =pd.read_csv(r"C:\Users\DELL\Downloads\Graded Assignments\Movies Project\Movie+Assignment+Data.csv")
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [13]:
df=movies

# Inspect the DataFrame
print("First few rows:")
print(df.head())

print("\nShape of the DataFrame:")
print(df.shape)

print("\nColumn names:")
print(df.columns)

print("\nData types of each column:")
print(df.dtypes)

print("\nSummary statistics:")
print(df.describe())

print("\nMissing values in each column:")
print(df.isnull().sum())

print("\nMemory usage:")
print(df.memory_usage(deep=True))

First few rows:
   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN

   director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                      0.0                   855.0  Joel David Moore
1                    563.0                  1000.0     Orlando Bloom
2                      0.0                   161.0      Rory Kinnear
3                  22000.0                 23000.0    Christian Bale
4                    131.0                     NaN        Rob Walker

   actor_1_facebook_likes        gross                           genres  ...  \
0                  1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi  ...
1                 40000.0  309404152.0         Action|Adventure|Fantasy  ...
2                 11000.0  200074175.0        Action|Adventure|Thriller  ...
3                 27000.0  448130642.0                  Action|Thriller  ...
4                   131.0          NaN                      Documentary  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0

[5 rows x 28 columns]

Shape of the DataFrame:
(5043, 28)

Column names:
Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Data types of each column:
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

Summary statistics:
       num_critic_for_reviews     duration  director_facebook_likes  \
count             4993.000000  5028.000000              4939.000000
mean               140.194272   107.201074               686.509212
std                121.601675    25.197441              2813.328607
min                  1.000000     7.000000                 0.000000
25%                 50.000000    93.000000                 7.000000
50%                110.000000   103.000000                49.000000
75%                195.000000   118.000000               194.500000
max                813.000000   511.000000             23000.000000

       actor_3_facebook_likes  actor_1_facebook_likes         gross  \
count             5020.000000             5036.000000  4.159000e+03
mean               645.009761             6560.047061  4.846841e+07
std               1665.041728            15020.759120  6.845299e+07
min                  0.000000                0.000000  1.620000e+02
25%                133.000000              614.000000  5.340988e+06
50%                371.500000              988.000000  2.551750e+07
75%                636.000000            11000.000000  6.230944e+07
max              23000.000000           640000.000000  7.605058e+08

       num_voted_users  cast_total_facebook_likes  facenumber_in_poster  \
count     5.043000e+03                5043.000000           5030.000000
mean      8.366816e+04                9699.063851              1.371173
std       1.384853e+05               18163.799124              2.013576
min       5.000000e+00                   0.000000              0.000000
25%       8.593500e+03                1411.000000              0.000000
50%       3.435900e+04                3090.000000              1.000000
75%       9.630900e+04               13756.500000              2.000000
max       1.689764e+06              656730.000000             43.000000

       num_user_for_reviews        budget   title_year  \
count           5022.000000  4.551000e+03  4935.000000
mean             272.770808  3.975262e+07  2002.470517
std              377.982886  2.061149e+08    12.474599
min                1.000000  2.180000e+02  1916.000000
25%               65.000000  6.000000e+06  1999.000000
50%              156.000000  2.000000e+07  2005.000000
75%              326.000000  4.500000e+07  2011.000000
max             5060.000000  1.221550e+10  2016.000000

       actor_2_facebook_likes   imdb_score  aspect_ratio  movie_facebook_likes
count             5030.000000  5043.000000   4714.000000           5043.000000
mean              1651.754473     6.442138      2.220403           7525.964505
std               4042.438863     1.125116      1.385113          19320.445110
min                  0.000000     1.600000      1.180000              0.000000
25%                281.000000     5.800000      1.850000              0.000000
50%                595.000000     6.600000      2.350000            166.000000
75%                918.000000     7.200000      2.350000           3000.000000
max             137000.000000     9.500000     16.000000         349000.000000

Missing values in each column:
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

Memory usage:
Index                           132
color                        314395
director_name                352261
num_critic_for_reviews        40344
duration                      40344
director_facebook_likes       40344
actor_3_facebook_likes        40344
actor_2_name                 355602
actor_1_facebook_likes        40344
gross                         40344
genres                       389890
actor_1_name                 355513
movie_title                  491943
num_voted_users               40344
cast_total_facebook_likes     40344
actor_3_name                 355549
facenumber_in_poster          40344
plot_keywords                540024
movie_imdb_link              549687
num_user_for_reviews          40344
language                     322213
country                      304905
content_rating               293214
budget                        40344
title_year                    40344
actor_2_facebook_likes        40344
imdb_score                    40344
aspect_ratio                  40344
movie_facebook_likes          40344
dtype: int64

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [9]:
# Write your code for column-wise null count here
null_counts = movies.isnull().sum()

print("Null count per column in Movies DataFrame:")
print(null_counts)

Null count per column in Movies DataFrame:
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [15]:
# Write your code for row-wise null count here
row_null_counts = movies.isnull().sum(axis=1)

print("Null count per row in 'movies' DataFrame:")
print(row_null_counts)

Null count per row in 'movies' DataFrame:
0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [16]:
# Write your code for column-wise null percentages here
null_percentages = (movies.isnull().mean() * 100).round(2)

print("Null percentage per column in 'movies' DataFrame:")
print(null_percentages)

Null percentage per column in 'movies' DataFrame:
color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.28
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [10]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
columns_to_drop = [
    'color', 'director_facebook_likes', 'actor_1_facebook_likes',
    'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
    'cast_total_facebook_likes', 'actor_3_name', 'duration',
    'facenumber_in_poster', 'content_rating', 'country',
    'movie_imdb_link', 'aspect_ratio', 'plot_keywords'
]

# Drop the specified columns
movies_cleaned = movies.drop(columns=columns_to_drop)

print("DataFrame after dropping unnecessary columns:")
print(movies_cleaned.head())

# Verify the columns and shape of the cleaned DataFrame
print("\nRemaining columns:")
print(movies_cleaned.columns)

print("\nShape of the cleaned DataFrame:")
print(movies_cleaned.shape)

DataFrame after dropping unnecessary columns:
       director_name  num_critic_for_reviews        gross  \
0      James Cameron                   723.0  760505847.0
1     Gore Verbinski                   302.0  309404152.0
2         Sam Mendes                   602.0  200074175.0
3  Christopher Nolan                   813.0  448130642.0
4        Doug Walker                     NaN          NaN

                            genres     actor_1_name  \
0  Action|Adventure|Fantasy|Sci-Fi      CCH Pounder
1         Action|Adventure|Fantasy      Johnny Depp
2        Action|Adventure|Thriller  Christoph Waltz
3                  Action|Thriller        Tom Hardy
4                      Documentary      Doug Walker

                                         movie_title  num_voted_users  \
0                                            Avatar            886204
1          Pirates of the Caribbean: At World's End            471220
2                                           Spectre            275868
3                             The Dark Knight Rises           1144337
4  Star Wars: Episode VII - The Force Awakens    ...                8

   num_user_for_reviews language       budget  title_year  imdb_score  \
0                3054.0  English  237000000.0      2009.0         7.9
1                1238.0  English  300000000.0      2007.0         7.1
2                 994.0  English  245000000.0      2015.0         6.8
3                2701.0  English  250000000.0      2012.0         8.5
4                   NaN      NaN          NaN         NaN         7.1

   movie_facebook_likes
0                 33000
1                     0
2                 85000
3                164000
4                     0

Remaining columns:
Index(['director_name', 'num_critic_for_reviews', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'num_user_for_reviews', 'language', 'budget', 'title_year',
       'imdb_score', 'movie_facebook_likes'],
      dtype='object')

Shape of the cleaned DataFrame:
(5043, 13)

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [23]:
# Write your code for dropping the rows here
null_percentages = (movies_cleaned.isnull().mean() * 100)

# Identify columns with more than 5% null values
columns_to_check = null_percentages[null_percentages > 5].index

# Drop rows with null values in these columns
movies_filtered = movies_cleaned.dropna(subset=columns_to_check)

print("DataFrame after dropping rows with null values:")
movies_filtered.head()

DataFrame after dropping rows with null values:

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,250000000.0,2012.0,8.5,164000
5,Andrew Stanton,462.0,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,263700000.0,2012.0,6.6,24000

In [24]:
print("\nShape of the filtered DataFrame:")
movies_filtered.shape

Shape of the filtered DataFrame:

(3891, 13)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [26]:
# Write your code for dropping the rows here
na_counts_per_row = movies_filtered.isnull().sum(axis=1)

# Filter out rows with more than five NaN values
movies_cleaned_final = movies_filtered[na_counts_per_row <= 5]

#inspect dataframe
print("DataFrame after removing rows with more than five NaN values:")
print(movies_cleaned_final.head())

print("\nShape of the final cleaned DataFrame:")
print(movies_cleaned_final.shape)

print("Remaining columns:")
print(movies_cleaned_final.columns)

print("\nShape of the final cleaned DataFrame:")
print(movies_cleaned_final.shape)

DataFrame after removing rows with more than five NaN values:
       director_name  num_critic_for_reviews        gross  \
0      James Cameron                   723.0  760505847.0
1     Gore Verbinski                   302.0  309404152.0
2         Sam Mendes                   602.0  200074175.0
3  Christopher Nolan                   813.0  448130642.0
5     Andrew Stanton                   462.0   73058679.0

                            genres     actor_1_name  \
0  Action|Adventure|Fantasy|Sci-Fi      CCH Pounder
1         Action|Adventure|Fantasy      Johnny Depp
2        Action|Adventure|Thriller  Christoph Waltz
3                  Action|Thriller        Tom Hardy
5          Action|Adventure|Sci-Fi     Daryl Sabara

                                 movie_title  num_voted_users  \
0                                    Avatar            886204
1  Pirates of the Caribbean: At World's End            471220
2                                   Spectre            275868
3                     The Dark Knight Rises           1144337
5                               John Carter            212204

   num_user_for_reviews language       budget  title_year  imdb_score  \
0                3054.0  English  237000000.0      2009.0         7.9
1                1238.0  English  300000000.0      2007.0         7.1
2                 994.0  English  245000000.0      2015.0         6.8
3                2701.0  English  250000000.0      2012.0         8.5
5                 738.0  English  263700000.0      2012.0         6.6

   movie_facebook_likes
0                 33000
1                     0
2                 85000
3                164000
5                 24000

Shape of the final cleaned DataFrame:
(3891, 13)
Remaining columns:
Index(['director_name', 'num_critic_for_reviews', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'num_user_for_reviews', 'language', 'budget', 'title_year',
       'imdb_score', 'movie_facebook_likes'],
      dtype='object')

Shape of the final cleaned DataFrame:
(3891, 13)

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [27]:
# Write your code for filling the NaN values in the 'language' column here
movies_cleaned_final['language'] = movies_cleaned_final['language'].fillna('English')

print("DataFrame after replacing NaN values in 'language' with 'English':")
print(movies_cleaned_final.head())

print("\nNull values in 'language' column after replacement:")
print(movies_cleaned_final['language'].isnull().sum())

DataFrame after replacing NaN values in 'language' with 'English':
       director_name  num_critic_for_reviews        gross  \
0      James Cameron                   723.0  760505847.0
1     Gore Verbinski                   302.0  309404152.0
2         Sam Mendes                   602.0  200074175.0
3  Christopher Nolan                   813.0  448130642.0
5     Andrew Stanton                   462.0   73058679.0

                            genres     actor_1_name  \
0  Action|Adventure|Fantasy|Sci-Fi      CCH Pounder
1         Action|Adventure|Fantasy      Johnny Depp
2        Action|Adventure|Thriller  Christoph Waltz
3                  Action|Thriller        Tom Hardy
5          Action|Adventure|Sci-Fi     Daryl Sabara

                                 movie_title  num_voted_users  \
0                                    Avatar            886204
1  Pirates of the Caribbean: At World's End            471220
2                                   Spectre            275868
3                     The Dark Knight Rises           1144337
5                               John Carter            212204

   num_user_for_reviews language       budget  title_year  imdb_score  \
0                3054.0  English  237000000.0      2009.0         7.9
1                1238.0  English  300000000.0      2007.0         7.1
2                 994.0  English  245000000.0      2015.0         6.8
3                2701.0  English  250000000.0      2012.0         8.5
5                 738.0  English  263700000.0      2012.0         6.6

   movie_facebook_likes
0                 33000
1                     0
2                 85000
3                164000
5                 24000

Null values in 'language' column after replacement:
0

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [31]:
# Write your code for checking number of retained rows here
rows_before_cleaning = movies.shape[0]
rows_after_cleaning = movies_cleaned_final.shape[0]

# Calculate the percentage of rows retained
percentage_retained = (rows_after_cleaning / rows_before_cleaning) * 100

print(f"Number of rows before cleaning: {rows_before_cleaning}")
print(f"Number of rows after cleaning: {rows_after_cleaning}")
print(f"Percentage of rows retained: {percentage_retained:.2f}%")

Number of rows before cleaning: 5043
Number of rows after cleaning: 3891
Percentage of rows retained: 77.16%

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [35]:
# Write your code for unit conversion here
movies_cleaned_final['budget'] = movies_cleaned_final['budget'] / 1_000_000
movies_cleaned_final['gross'] = movies_cleaned_final['gross'] / 1_000_000

print("DataFrame after converting 'budget' and 'gross' to millions of dollars:")
print(movies_cleaned_final[['budget', 'gross']].head())

DataFrame after converting 'budget' and 'gross' to millions of dollars:
         budget         gross
0  2.370000e-34  7.605058e-34
1  3.000000e-34  3.094042e-34
2  2.450000e-34  2.000742e-34
3  2.500000e-34  4.481306e-34
5  2.637000e-34  7.305868e-35

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [36]:
# Write your code for creating the profit column here
movies_cleaned_final['profit'] = movies_cleaned_final['gross'] - movies_cleaned_final['budget']

In [37]:
# Write your code for sorting the dataframe here
movies_sorted_by_profit = movies_cleaned_final.sort_values(by='profit', ascending=False)

In [38]:
top10  = movies_sorted_by_profit.head(10)
print(top10[['movie_title', 'profit', 'gross', 'budget']])

                                     movie_title        profit         gross  \
0                                        Avatar   5.235058e-34  7.605058e-34
29                               Jurassic World   5.021773e-34  6.521773e-34
26                                      Titanic   4.586723e-34  6.586723e-34
3024         Star Wars: Episode IV - A New Hope   4.499357e-34  4.609357e-34
3080                 E.T. the Extra-Terrestrial   4.244495e-34  4.349495e-34
794                                The Avengers   4.032795e-34  6.232795e-34
17                                 The Avengers   4.032795e-34  6.232795e-34
509                               The Lion King   3.777838e-34  4.227838e-34
240   Star Wars: Episode I - The Phantom Menace   3.595447e-34  4.745447e-34
66                              The Dark Knight   3.483161e-34  5.333161e-34

            budget
0     2.370000e-34
29    1.500000e-34
26    2.000000e-34
3024  1.100000e-35
3080  1.050000e-35
794   2.200000e-34
17    2.200000e-34
509   4.500000e-35
240   1.150000e-34
66    1.850000e-34

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [39]:
# Write your code for dropping duplicate values here
movies_cleaned_final = movies_cleaned_final.drop_duplicates()

In [41]:
# Write code for repeating subtask 2 here
movies_cleaned_final['profit'] = movies_cleaned_final['gross'] - movies_cleaned_final['budget']

# Sort by Profit
movies_sorted_by_profit = movies_cleaned_final.sort_values(by='profit', ascending=False)

# The top10 Profiting movies
top10 = movies_sorted_by_profit.head(10)

#Top 10 Profiting Movies after removing duplicates
top10[['director_name', 'movie_title', 'profit', 'gross', 'budget']]

,director_name,movie_title,profit,gross,budget
0,James Cameron,Avatar,5.235058e-34,7.605058e-34,2.370000e-34
29,Colin Trevorrow,Jurassic World,5.021773e-34,6.521773e-34,1.500000e-34
26,James Cameron,Titanic,4.586723e-34,6.586723e-34,2.000000e-34
3024,George Lucas,Star Wars: Episode IV - A New Hope,4.499357e-34,4.609357e-34,1.100000e-35
3080,Steven Spielberg,E.T. the Extra-Terrestrial,4.244495e-34,4.349495e-34,1.050000e-35
17,Joss Whedon,The Avengers,4.032795e-34,6.232795e-34,2.200000e-34
509,Roger Allers,The Lion King,3.777838e-34,4.227838e-34,4.500000e-35
240,George Lucas,Star Wars: Episode I - The Phantom Menace,3.595447e-34,4.745447e-34,1.150000e-34
66,Christopher Nolan,The Dark Knight,3.483161e-34,5.333161e-34,1.850000e-34
439,Gary Ross,The Hunger Games,3.299993e-34,4.079993e-34,7.800000e-35

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [42]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
filtered_movies = movies_cleaned_final[movies_cleaned_final['num_voted_users'] > 25000]

# Sort filtered movies by imdb_score from high to low
sorted_movies = filtered_movies.sort_values(by='imdb_score', ascending=False)

# Top 250 movies
IMDb_Top_250 = sorted_movies.head(250)

# 'Rank' column with values from 1 to 250
IMDb_Top_250['Rank'] = range(1, 251)

print("IMDb Top 250 Movies:")
print(IMDb_Top_250[['movie_title', 'imdb_score', 'num_voted_users', 'Rank']].head())

IMDb Top 250 Movies:
                          movie_title  imdb_score  num_voted_users  Rank
1937        The Shawshank Redemption          9.3          1689764     1
3466                   The Godfather          9.2          1155770     2
2837          The Godfather: Part II          9.0           790926     3
66                   The Dark Knight          9.0          1676169     4
4498  The Good, the Bad and the Ugly          8.9           503509     5

In [44]:
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language'] != 'English']

print("Top Foreign Language Films:")
print(Top_Foreign_Lang_Film[['movie_title', 'imdb_score', 'language', 'Rank']])

Top Foreign Language Films:
                              movie_title  imdb_score    language  Rank
4498      The Good, the Bad and the Ugly          8.9     Italian     5
4747                       Seven Samurai          8.7    Japanese    17
4029                         City of God          8.7  Portuguese    20
2373                       Spirited Away          8.6    Japanese    23
4259                 The Lives of Others          8.5      German    35
4921                  Children of Heaven          8.5     Persian    39
2323                   Princess Mononoke          8.4    Japanese    47
2970                            Das Boot          8.4      German    49
4105                              Oldboy          8.4      Korean    57
4659                        A Separation          8.4     Persian    58
1329            Baahubali: The Beginning          8.4      Telugu    59
1298                              Amélie          8.4      French    61
2734                          Metropolis          8.3      German    65
4033                            The Hunt          8.3      Danish    73
2829                            Downfall          8.3      German    81
2551                     Pan's Labyrinth          8.2     Spanish    86
4000            The Secret in Their Eyes          8.2     Spanish    97
3550                           Incendies          8.2      French    98
2047                Howl's Moving Castle          8.2    Japanese   100
2830                      The Sea Inside          8.1     Spanish   110
2914  Tae Guk Gi: The Brotherhood of War          8.1      Korean   119
4461                     The Celebration          8.1      Danish   127
3553                         Elite Squad          8.1  Portuguese   143
3423                               Akira          8.1    Japanese   147
4267                       Amores Perros          8.1     Spanish   152
3456                          Persepolis          8.0      French   166
3344                     My Name Is Khan          8.0       Hindi   175
4144                     Central Station          8.0  Portuguese   177
4284                   Waltz with Bashir          8.0      Hebrew   181
4897                A Fistful of Dollars          8.0     Italian   183
1171                                Hero          7.9    Mandarin   212
2863               Letters from Iwo Jima          7.9    Japanese   226
3264                               Amour          7.9      French   229
3510                          Veer-Zaara          7.9       Hindi   233
3677                          The Chorus          7.9      French   237
4415                         Nine Queens          7.9     Spanish   243
4640        4 Months, 3 Weeks and 2 Days          7.9    Romanian   244
2605      Crouching Tiger, Hidden Dragon          7.9    Mandarin   247

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [48]:
# Write your code for extracting the top 10 directors here
grouped_directors = movies_cleaned_final.groupby('director_name')

# Mean IMDb score for each director
mean_imdb_scores = grouped_directors['imdb_score'].mean()

# Series to a DataFrame
mean_imdb_scores_df = mean_imdb_scores.reset_index()

mean_imdb_scores_df.columns = ['director_name', 'mean_imdb_score']

# Top 10 directors with the highest mean IMDb scores
top10director = mean_imdb_scores_df.sort_values(by='mean_imdb_score', ascending=False).head(10)

print("Top 10 Directors with the Highest Mean IMDb Scores:")
print(top10director)

Top 10 Directors with the Highest Mean IMDb Scores:
              director_name  mean_imdb_score
216         Charles Chaplin         8.600000
1675              Tony Kaye         8.600000
45         Alfred Hitchcock         8.500000
1440             Ron Fricke         8.500000
302         Damien Chazelle         8.500000
1017           Majid Majidi         8.500000
1498           Sergio Leone         8.433333
260       Christopher Nolan         8.425000
1467         S.S. Rajamouli         8.400000
1035  Marius A. Markevicius         8.400000

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [51]:
# Write your code for extracting the first two genres of each movie here
genres_split = movies_cleaned_final['genres'].str.split('|', expand=True)

# first and second genres to new columns
movies_cleaned_final['genre_1'] = genres_split[0]  # First genre
movies_cleaned_final['genre_2'] = genres_split[1].fillna(genres_split[0]) 

# Display the first rows
print(movies_cleaned_final[['genres', 'genre_1', 'genre_2']].head())

                            genres genre_1    genre_2
0  Action|Adventure|Fantasy|Sci-Fi  Action  Adventure
1         Action|Adventure|Fantasy  Action  Adventure
2        Action|Adventure|Thriller  Action  Adventure
3                  Action|Thriller  Action   Thriller
5          Action|Adventure|Sci-Fi  Action  Adventure

In [50]:
movies_by_segment = movies_cleaned_final.groupby(['genre_1', 'genre_2'])

# Display the size of each group 
print(movies_by_segment.size().reset_index(name='count').head())

  genre_1    genre_2  count
0  Action     Action      6
1  Action  Adventure    412
2  Action  Animation      8
3  Action  Biography     14
4  Action     Comedy    131

In [41]:
grouped_genres = movies_cleaned_final.groupby(['genre_1', 'genre_2'])

# Mean gross value for each genre combination
mean_gross_by_genre = grouped_genres['gross'].mean().reset_index(name='mean_gross')

# Sort by mean gross value
mean_gross_by_genre_sorted = mean_gross_by_genre.sort_values(by='mean_gross', ascending=False)

PopGenre = mean_gross_by_genre_sorted.head(5)
print("Top 5 Popular Genre Combinations:")
print(PopGenre)

Top 5 Popular Genre Combinations:
      genre_1    genre_2  mean_gross
83     Family     Sci-Fi  434.949459
28  Adventure     Sci-Fi  228.627758
24  Adventure     Family  118.919540
18  Adventure  Animation  116.998550
1      Action  Adventure  109.595465

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [53]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies_cleaned_final[movies_cleaned_final['actor_1_name'] == 'Meryl Streep']

In [54]:
Leo_Caprio = movies_cleaned_final[movies_cleaned_final['actor_1_name'] == 'Leonardo DiCaprio']

In [55]:
Brad_Pitt = movies_cleaned_final[movies_cleaned_final['actor_1_name'] == 'Brad Pitt']

In [58]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt], ignore_index=True)

print(Combined.head())
print(f"Total rows in Combined DataFrame: {len(Combined)}")

    director_name  num_critic_for_reviews         gross  \
0    Nancy Meyers                   187.0  1.127035e-34
1   Curtis Hanson                    42.0  4.681575e-35
2     Nora Ephron                   252.0  9.412543e-35
3   David Frankel                   208.0  1.247330e-34
4  Robert Redford                   227.0  1.499807e-35

                            genres  actor_1_name             movie_title  \
0             Comedy|Drama|Romance  Meryl Streep       It's Complicated
1  Action|Adventure|Crime|Thriller  Meryl Streep         The River Wild
2          Biography|Drama|Romance  Meryl Streep          Julie & Julia
3             Comedy|Drama|Romance  Meryl Streep  The Devil Wears Prada
4               Drama|Thriller|War  Meryl Streep        Lions for Lambs

   num_voted_users  num_user_for_reviews language        budget  title_year  \
0            69860                 214.0  English  8.500000e-35      2009.0
1            32544                  69.0  English  4.500000e-35      1994.0
2            79264                 277.0  English  4.000000e-35      2009.0
3           286178                 631.0  English  3.500000e-35      2006.0
4            41170                 298.0  English  3.500000e-35      2007.0

   imdb_score  movie_facebook_likes        profit    genre_1    genre_2
0         6.6                     0  2.770347e-35     Comedy      Drama
1         6.3                     0  1.815748e-36     Action  Adventure
2         7.0                 13000  5.412543e-35  Biography      Drama
3         6.8                     0  8.973296e-35     Comedy      Drama
4         6.2                     0 -2.000193e-35      Drama   Thriller
Total rows in Combined DataFrame: 49

In [59]:
# Write your code for grouping the combined dataframe here
grouped_by_actor = Combined.groupby('actor_1_name')

# Mean of 'num_critic_for_reviews' and 'num_user_for_reviews'
mean_reviews = grouped_by_actor[['num_critic_for_reviews', 'num_user_for_reviews']].mean().reset_index()

print("Mean Reviews by Actor:")
print(mean_reviews)

Mean Reviews by Actor:
        actor_1_name  num_critic_for_reviews  num_user_for_reviews
0          Brad Pitt              245.000000            742.352941
1  Leonardo DiCaprio              330.190476            914.476190
2       Meryl Streep              181.454545            297.181818

In [61]:
# Write the code for finding the mean of critic reviews and audience reviews here
most_critic_favorite = mean_reviews.loc[mean_reviews['num_critic_for_reviews'].idxmax()]

# Actor with the highest mean audience reviews
most_audience_favorite = mean_reviews.loc[mean_reviews['num_user_for_reviews'].idxmax()]

# Results
print("Mean Reviews for Each Actor:")
print(mean_reviews)

print("\nMost Critic-Favorite Actor:")
print(most_critic_favorite)

print("\nMost Audience-Favorite Actor:")
print(most_audience_favorite)

Mean Reviews for Each Actor:
        actor_1_name  num_critic_for_reviews  num_user_for_reviews
0          Brad Pitt              245.000000            742.352941
1  Leonardo DiCaprio              330.190476            914.476190
2       Meryl Streep              181.454545            297.181818

Most Critic-Favorite Actor:
actor_1_name              Leonardo DiCaprio
num_critic_for_reviews           330.190476
num_user_for_reviews              914.47619
Name: 1, dtype: object

Most Audience-Favorite Actor:
actor_1_name              Leonardo DiCaprio
num_critic_for_reviews           330.190476
num_user_for_reviews              914.47619
Name: 1, dtype: object

**Checkpoint 6:** `Leonardo` has aced both the lists!